*{
	box-sizing:border-box;
}
.center{
			text-align:center;
		}
img{width:100%;
		}
input[type=text]{
	width:100%;
	padding:12px;
	border:1px solid #ccc;
	margin-top:6px;
	margin-bottom:16px;
	resize:vertical;
}
input[type=submit]{
	background-color:#2733d2;
	color:white;
	padding:12px 20px;
	border:none;
	cursor:pointer;
	transition:all 1s;
}
input[type=submit]:hover{
	background-color:#4f59dc;
	transform:scale(1.1);
}
.container{
	border-radius:5px;
	background-color:#f2f2f2;
	padding:10px;
}
.column{
	float:left;
	width:50%;
	margin-top:6px;
	padding:20px;
}
.row:after{
	content:"";
	display:table;
	clear:both;
}



@media screen and (max-width: 600px){
	.column,input[type=submit]{
		width:100%;
		margin-top:0;
	}
}